apache-airflow[celery]==2.8.0 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.8.0/constraints-3.10.txt"
apache-airflow-providers-trino[common.sql]
pyspark==3.5.1
apache-airflow-providers-apache-spark
deltalake
# acryl-datahub-airflow-plugin[plugin-v2]
# acryl-datahub[airflow,great-expectations]
# airflow-provider-great-expectations
# dbt-dremio
# dbt-trino
