apache-airflow[celery]==2.5.3 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.5.3/constraints-3.10.txt"
apache-airflow-providers-trino[common.sql]
deltalake
acryl-datahub[airflow]
acryl-datahub[great-expectations]
acryl-datahub-airflow-plugin
airflow-provider-great-expectations==0.2.0
dbt-dremio
pyspark==3.3.2
apache-airflow-providers-apache-spark
