apache-airflow[celery]==2.7.1 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.7.1/constraints-3.9.txt"
apache-airflow-providers-trino[common.sql]
pyspark==3.3.3
apache-airflow-providers-apache-spark
deltalake
acryl-datahub-airflow-plugin
# acryl-datahub[airflow]
# acryl-datahub[great-expectations]
# airflow-provider-great-expectations==0.2.0
# # dbt-dremio
# dbt-trino
